<div class="mt-4">
  <form method="POST" action="/categories/create">
    <div class="mb-3">
      <label for="name" class="form-label">name</label>
      <input type="text" class="form-control" name="name" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">description</label>
      <input type="text" class="form-control" name="description" />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">price</label>
      <input type="number" class="form-control" name="videoId" />
    </div>
    <div class="mb-3">
      <label for="imageUrl" class="form-label">imageUrl</label>
      <input type="text" class="form-control" name="level" />
    </div>
    <div class="mb-3">
      <label for="estimatedTime" class="form-label">estimated Time</label>
      <input type="text" class="form-control" name="level" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>